img {
    width:120px;
    height:200px;
    margin:40px;
}
p {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    color: #000000;
    font-family: "Courier New";
}
h1,h5,label {
    font-family: "Courier New";
}
#text{
    text-align: center;
    font-size: 200%;
}
.audio-play {
    margin: 20px;
}
ol {
    list-style-type: none;
}
pop-up {
    margin-bottom: 40px;
}
textarea {
    background:transparent;
    outline:none;
    border:none;
    width:93%;
    margin-right:5%;
    margin-left:5%;
    font-size:20px;
    font-family: "Courier New";
    color:#000;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: black;
}
.error{
    color: red;
}