form{
  position: relative;
  top: 50%;
  left: 5%;
  margin-top: -260px;
  margin-left: 50px;
  width: 300px;
  height: 200px;
  border: 4px dashed #808080;
}
form p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #808080;
  font-family: Arial;
}
form h{
  color: #000000
}
form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 50%;
  outline: none;
  opacity: 0;
}
form button{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 300px;
  height: 200px;
  margin-top: -260px;
  margin-left: 50px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
}
form button:hover{
  background: #149174;
	color: #0C5645;
}
form button:active{
  border:0;
}