<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap4/css/bootstrap.css') }}"/>
    <script src="{{ url_for('static', filename='lib/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap4/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery.validate.min.js') }}"></script>
    {% block title %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">MakeMeText</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item {% if request.endpoint == 'wav' %} active {% endif %}">
                    <a class="nav-link" href="/wav">Wav </a>
                </li>
                <li class="nav-item {% if request.endpoint == 'microphone' %} active {% endif %}">
                    <a class="nav-link" href="/microphone">Microphone</a>
                </li>
                <li class="nav-item {% if request.endpoint == 'donate' %} active {% endif %}">
                    <a class="nav-link" href="/donate">Donate</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <select class="form-control" id="language">
                </select>
            </ul>
        </div>
    </nav>
    <div id="content">
        {% block body %} {% endblock %}
    </div>

</body>

<style>
    body {
        background-image: url({{ url_for('static', filename='images/diagram.svg') }});
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        postion: revative;
    }
    nav {
        background-color: rgba(0, 0, 0, 0.50);
    }
    #content {
        height: 100vh;
    }
    a {
        font-family: Courier New;
    }
    button {
        font-family: Courier New
    }
</style>

<script>
    $('#language').change(function () {
        console.log($(this).val())
        $.post('/lang',
            {
                lang: $(this).val()
            },
            function(data) {
                console.log(data)
            },'json');
    })
    $(document).ready(function(){
        $.get('/lang', function(response){
            console.log(response)
            for(lang in response)
            {
                $('#language').append('<option value="' + lang +'">' + response[lang] + '</option>')
            }
        });
    });
</script>
</html>