<!DOCTYPE html>
<html lang="en">

<head>
    <title>Donate your voice</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap4/css/bootstrap.css') }}"/>
    <script src="{{ url_for('static', filename='lib/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap4/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery.validate.min.js') }}"></script>
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doom.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">MakeMeText</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item {% if request.endpoint == 'wav' %} active {% endif %}">
                    <a class="nav-link" href="/wav">Wav </a>
                </li>
                <li class="nav-item {% if request.endpoint == 'microphone' %} active {% endif %}">
                    <a class="nav-link" href="/microphone">Microphone</a>
                </li>
                <li class="nav-item {% if request.endpoint == 'donate' %} active {% endif %}">
                    <a class="nav-link" href="/donate">Donate</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <select class="form-control" id="language">
                </select>
            </ul>
        </div>
    </nav>
    <div id="content">
        <h1 class="header-text" style="margin: 20px" align="center">Source</h1>
        <div id="carouselExampleControls" class="carousel slide">
            <div class="carousel-inner" id="carousel-texts">
                <div class="carousel-item active">
                </div>
                <div class="carousel-item">
                </div>
                <div class="carousel-item">
                </div>
                <div class="carousel-item">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="d-flex justify-content-center">
            <img src="{{ url_for('static', filename='images/mic.png')}}" width="100" height="200">
        </div>
        <div class="d-flex justify-content-center" id="controls">
            <button class="btn btn-secondary" id="pauseButton" disabled><i class="fa fa-pause"></i></button>
            <button class="btn btn-secondary" id="recordButton"><i class="fa fa-play"></i></button>
            <button class="btn btn-secondary" id="stopButton" disabled><i class="fa fa-stop"></i></button>
        </div>
        <div class="d-flex justify-content-center">
            <p>Click the button to start recording</p>
        </div>
        <div class="d-flex justify-content-center audio-play">
            <ol id="recordingsList"></ol>
            <script src="{{ url_for('static', filename='lib/recorder.js') }}"></script>
            <script src="{{ url_for('static', filename='app/audiorecord2.js') }}"></script>
        </div>

        <div class="modal fade" id="Modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Agreement</h5>
                    </div>
                    <div class="modal-body">
                        <div class="pop-up">
                            <p>Hello dear consumer,</p>
                            <p>Words cannot describe the entire gratitude from our team to your interest in the project Kyrgyz Speech Recognizer</p>
                            <p>In this tab you are able to donate your voice and to be part of great contribution in the sphere of speech recognizers.</p>
                            <p>By voice donation,  You can solve the problem of &quot;small&quot; languages, such as Kyrgyz, Kazakh etc.</p>
                            <p>Our main goal is a provision of advanced speech recognizers not only Kyrgyz, but others as well. To collect as much data as it can be possible, this project was created.</p>
                            <p>Thanks for your donation.</p>
                            <p>Warmly, AUCA student.</p>
                        </div>
                        <form id="acceptform">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" name="name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-form-label">Email:</label>
                                    <input type="email" class="form-control" name="email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-form-label">Age:</label>
                                    <input type="text" class="form-control" name="age">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-form-label">Gender:</label>
                                    <select class="form-control" name="gender">
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" name="terms">
                                    <label class="form-check-label">License Agreement & Security Agreement</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="/wav" class="btn btn-secondary">Don't accept</a>
                        <button type="button" class="btn btn-secondary" id="accept">Accept</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Your voice is recorded. Thank you for your contribution...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" disabled>Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script>
        let lang_current = 'eng'
        let texts = JSON.parse({{ texts|tojson }});
        $('#language').change(function () {
            lang_current = $(this).val()
            let count = 0
            for(text_key in texts[lang_current])
            {
                $('#carousel-texts').children().eq(count).empty()
                $('#carousel-texts').children().eq(count).html('<p id="text">' + texts[lang_current][text_key] + '</p>');
                count++;
            }
            $.post('/lang',
                {
                    lang: $(this).val()
                },
                function(data) {
                    console.log(data)
                },'json');
        })
        $(document).ready(function(){
            $.get('/lang', function(response){
                for(lang in response)
                {
                    $('#language').append('<option value="' + lang +'">' + response[lang] + '</option>')
                }
            });
            let count = 0
            console.log($('#carousel-texts').children().length)
            console.log(texts[lang_current])
            for(text_key in texts[lang_current])
            {
                $('#carousel-texts').children().eq(count).html('<p id="text">' + texts[lang_current][text_key] + '</p>');
                count++;
            }
            $('.carousel').carousel('pause');
            $("#Modal").modal('show');
            $('#acceptform').validate({
                rules: {
                    email: {
                        email: true,
                        required: true
                    },
                    name: {
                        required: true,
                        minlength: 5
                    },
                    age: {
                        required: true,
                        digits: true
                    },
                    gender: {
                        required: true,
                    },
                    terms: {
                        required: true
                    }
                },
                messages: {
                    email: "Not email",
                    name: {
                        required: "Not name",
                        minlength: "Less 5 characters"
                    },
                    age: {
                        required: "Not age",
                        minlength: "Only digits"
                    },
                    terms: "check the checkbox",
                    gender: "set gender"
                },
            });
        });
        $("#accept").click(function (e) {
            console.log($("#acceptform").valid())
            if($("#acceptform").valid()) {
                $("#Modal").modal('hide')
            }
        })
    </script>

<style>
    body {
        background-image: url({{ url_for('static', filename='images/diagram.svg') }});
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        postion: revative;
    }
    nav {
        background-color: rgba(0, 0, 0, 0.50);
    }
    #content {
        height: 100vh;
    }
    a {
        font-family: Courier New;
    }
    button {
        font-family: Courier New
    }
</style>