{% extends 'base.html' %}

{% block title %}
    <title>Just say</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doom.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <img src="{{ url_for('static', filename='images/mic.png')}}" width="100" height="200">
    </div>
    <div class="d-flex justify-content-center" id="controls">
        <button class="btn btn-secondary" id="pauseButton" disabled><i class="fa fa-pause"></i></button>
        <button class="btn btn-secondary" id="recordButton"><i class="fa fa-play"></i></button>
        <button class="btn btn-secondary" id="stopButton" disabled><i class="fa fa-stop"></i></button>
    </div>
    <div class="d-flex justify-content-center">
        <p>Click the button to start recording</p>
    </div>
    <div class="d-flex justify-content-center audio-play">
        <ol id="recordingsList"></ol>

        <script src="{{ url_for('static', filename='lib/recorder.js') }}"></script>
        <script src="{{ url_for('static', filename='app/audiorecord1.js') }}"></script>
    </div>
    <h1 class="header-text" align="center">TRANSCRIPTION</h1>
    <textarea id="text" style="visibility: hidden"></textarea>
    <div class="text-center" id="loading" style="visibility: hidden">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="d-flex justify-content-center" style="visibility: hidden">
        <a href="{{ filename_txt }}" id="save" class="btn btn-secondary">Save AS</a>
    </div>
{% endblock %}

