{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uploadform.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/audio.css') }}"/>
    <title>Audio upload</title>
{% endblock %}
{% block body %}
        <form  method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="audio/wav" onchange="form.submit()">
            <p>Drag your files here or click in this area.</p>
            <h>ONLY .WAV FILES ARE SUPPORTED</h>
        </form>
        <br/>
            <div class="container-audio">
                <audio controls>
                   <source src="{{ file_path }}" type="audio/wav">
                   Your browser dose not Support the audio Tag
               </audio>
            </div>
        {% if text %}
            <div class="container-audio columns">
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
            </div>
        {% endif %}
        </div>
        <h1 class="header-text" align="center">TRANSCRIPTION</h1>
        <textarea rows="5">{{ text }}</textarea>
        {% if text %}
            <a href="{{ filename_txt }}" class="btn btn-secondary">Save AS</a>
        {% endif %}
{% endblock %}